OPENAI_URL="https://.openai.azure.com/"
OPENAI_EMBEDDING_DEPLOYMENT_NAME=""
MSSQL_CONNECTION_STRING="Server=.database.windows.net;Database=;Authentication=Active Directory Default;"
TABLE_NAME="dbo.wikipedia_articles_embeddings"
ID_COLUMN_NAME="id"
CONTENT_COLUMN_NAME="text"
EMBEDDING_COLUMN_NAME="content_vector_fp16"
EMBEDDING_DIMENSIONS=3072
CHUNK_MAX_LENGTH=4096

